@charset "UTF-8";

header {text-align:center;
		margin:50px 30px 0;	
		overflow:hidden;
		height:90px;}
header h1 {position:absolute; left:345px; right:345px;
		   float:left;}
header a {text-decoration:none;
		  color:#000000;}
header a:visited {color:#000000;} /*방문해도 색깔 안 변하게*/
header>a {float:right;
		  margin-right:10px;
		  margin-top:40px;}	  


nav ul {text-align:center;
		margin-top:20px;
		padding-left:120px;}
nav ul li {display:inline-block;
		list-style:none;
		margin-right:100px;
		font-size:20px;}
nav ul li a {text-decoration:none;
			 color:#000000;}
nav ul li a:visited {color:#000000;}
nav ul li a:hover {font-weight:bold;}


			
			
			
			
			