@charset "UTF-8";

header {text-align:center;
		margin:50px 30px 0;	
		overflow:hidden;
		height:90px;}
header h1 {position:absolute; left:345px; right:345px;
		   float:left;}
header a {text-decoration:none;
		  color:#000000;}
header a:visited {color:#000000;} /*방문해도 색깔 안 변하게*/
header>a {float:right;
		  margin-right:10px;
		  margin-top:40px;}


nav ul {text-align:center;
		margin-top:20px;
		padding-left:120px;}
nav ul li {display:inline-block;
		   list-style:none;
		   margin-right:100px;
		   font-size:20px;}
nav ul li a {text-decoration:none;
			 color:#000000;}
nav ul li a:visited{color:#000000;}
nav ul li a:hover {font-weight:bold;}
#board {font-weight:bold;}
#qna {font-weight:bold;
		text-decoration:underline;}
			
nav:nth-of-type(2) {margin:20px 30px 0;
					border:1px solid green;
					background-color:#ebf2ed;}
nav:nth-of-type(2) ul li {font-size:16px;}


section {margin:0 40px;
		text-align:center;}
section h3 {margin-top:40px;
			font-size:25px;}
section p {line-height:25px;}
			
section table {margin:0 auto;
				width:80%;}

section table .t_no {width:10%;}
section table .t_title {width:35%;}
section table .t_content {width:47%;}
section table .t_now {width:8%;}
section table a {text-decoration:none;
				color:black;}
section button {margin-top:40px;
				width:70px; height:40px;
				font-size:15px;}