@charset "UTF-8";

header {text-align:center;
		margin:0px 30px 0;	
		overflow:hidden;
		height:131px;}
header h1 {position:absolute; left:345px; right:345px;
		   float:left;}
header a {text-decoration:none;
		  color:#000000;}
header a:visited {color:#000000;} /*방문해도 색깔 안 변하게*/
header>a {float:right;
		  margin-right:20px;
		  margin-top:80px;}	  
header img {text-align:center;
			margin-top:-20px;}


nav ul {text-align:center;
		margin-top:20px;
		padding-left:120px;}
nav ul li {display:inline-block;
		   list-style:none;
		   margin-right:100px;
		   font-size:20px;}
nav ul li a {text-decoration:none;
			 color:#000000;}
nav ul li a:visited{color:#000000;}
nav ul li a:hover {font-weight:bold;}
#study_how {font-weight:bold;}
#aboutStudy {font-weight:bold;}


section:nth-of-type(1) {margin:20px 30px 0;
		 				border:1px solid green;
		 				height:350px;
		 				background-color:#ebf2ed;}		 
section nav ul li {font-size:16px;}					
section nav ul li #aboutStudy {text-decoration:underline;}
section:nth-of-type(1)>div {border:1px dotted black;
			 text-align:center;
			 height:250px;
			 margin:0 150px;
			 line-height:32px;
			 overflow:auto;}
section nav:nth-of-type(2) ul {height:26px;
							   position:relative; bottom:4px;
							   background-color:white;}
section nav:nth-of-type(2) ul li {margin-top:3px;}
#ancient {font-weight:bold;}


button{width: 30px;
        height: 30px;
        cursor: pointer;
        border:none;
        background-color:white;
        }
#heart1{margin-left:160px;
		margin-top:-52px;
		float:left;}
#heart2{margin-left:60px;
		margin-top:-50px;
		float:left;}
#heart3{margin-left:157px;
		margin-top:-50px;
		float:left;}
#heart3 img {margin-left:292px;
			margin-top:-165px;}

section:nth-of-type(2) {margin:20px 30px 0;
						border:1px solid grey;
						padding:20px 0;}
#map {width:80%; height:250px; margin:0 auto;}
section h1 {text-align:center;
			font-size:27px;
			margin-top:10px;}
section article:nth-of-type(1) div {background-color:#F0F0F0;
					 				margin:40px 80px 0;
					 				font-size:16px;
					 				text-align:center; line-height:40px;}
section article:nth-of-type(1) div a {color:black;}
section article p {text-align:center;}			
						
section article h2 {text-align:center;
					font-size:24px;
					margin-top:50px;}
					
section article #socrates {border:1px dotted grey;
						   overflow:auto;
						   position:relative;
						   padding:20px 0;
						   width:92%;
						   margin:0px auto;}
section article #socrates img {float:left;
							   margin-left:10px;}
section article #socrates div:nth-of-type(1){line-height:31px;
											 height:220px;
											 position:absolute;
											 left:270px;}
		
section article #socrates div:nth-of-type(2){line-height:35px;
											 position:absolute;
											 left:510px; top:70px;}

section article #plato {border:1px dotted grey;
						   		  overflow:auto;
						   		  position:relative;
						   		  padding:20px 0;
						   		  width:92%;
						   		  margin:30px auto 0;}
section article #plato img {margin-left:50px;
							float:left;}
section article #plato div:nth-of-type(1){line-height:29px;
										  position:absolute;
										  left:270px; top:25px;
										  height:220px;}
section article #plato div:nth-of-type(2){line-height:35px;
										  position:absolute;
										  left:510px; top:50px;}	

section article #sophist {border:1px dotted grey;
						   		  overflow:auto;
						   		  position:relative;
						   		  padding:20px 0;
						   		  width:92%;
						   		  height:415px;
						   		  margin:30px auto 0;}
section article #sophist div:nth-of-type(1) {margin-left:270px;
											 line-height:29px;}
section article #sophist img {position:absolute;
							  left:130px; top:200px;}
section article #sophist div:nth-of-type(2){line-height:35px;
											height:220px;
										   position:absolute;
										   left:510px; top:220px;}
											 
									
						
