@charset "UTF-8";

header {text-align:center;
		margin:0px 30px 0;	
		overflow:hidden;
		height:131px;}
header h1 {position:absolute; left:345px; right:345px;
		   float:left;}
header a {text-decoration:none;
		  color:#000000;}
header a:visited {color:#000000;} /*방문해도 색깔 안 변하게*/
header>a {float:right;
		  margin-right:20px;
		  margin-top:80px;}	  
header img {text-align:center;
			margin-top:-20px;}


nav ul {text-align:center;
		margin-top:20px;
		padding-left:120px;}
nav ul li {display:inline-block;
		   list-style:none;
		   margin-right:100px;
		   font-size:20px;}
nav ul li a {text-decoration:none;
			 color:#000000;}
nav ul li a:visited{color:#000000;}
nav ul li a:hover {font-weight:bold;}
#study_how {font-weight:bold;}
#aboutStudy {font-weight:bold;}


section:nth-of-type(1) {margin:20px 30px 0;
		 				border:1px solid green;
		 				height:350px;
		 				background-color:#ebf2ed;}		 
section nav ul li {font-size:16px;}					
section nav ul li #aboutStudy {text-decoration:underline;}
section>div {border:1px dotted black;
			 text-align:center;
			 height:250px;
			 margin:0 150px;
			 line-height:32px;}
section nav:nth-of-type(2) ul {height:26px;
							   position:relative; bottom:4px;
							   background-color:white;}
section nav:nth-of-type(2) ul li {margin-top:3px;}
#modern {font-weight:bold;}

section:nth-of-type(2) {margin:20px 30px 0;
						border:1px solid grey;
						padding:20px 0;}
section h1 {text-align:center;
			font-size:27px;
			margin-top:10px;}
			
section h1 {text-align:center;
			font-size:27px;
			margin-top:10px;}
section article:nth-of-type(1) div {background-color:#F0F0F0;
					 				margin:40px 80px 0; 
					 				font-size:16px;
					 				text-align:center; line-height:40px;
					 				border: 0px;}
section article:nth-of-type(1) div a {color:black;}
						
						
						

section #empiricism {position:relative; height:855px;
					border:1px dotted grey;
					overflow:scroll;
					width:92%;
					margin:40px auto 0;}
section .title {background-color:#e5e5e5;
				width:380px; height:70px;
				text-align:center;
				margin-left:10px;
				margin-top:15px;
				border:0px;}		
section .explain {line-height:38px;
				  position:absolute;
				  left:405px; top:10px;
				  width:850px;
				  border:0px;}		
section #empiricism div:nth-of-type(3) {text-align:center;
									font-size:19px;
									font-weight:580;
									position:absolute;
									top:235px; left:300px;}															
section #empiricism img {position:absolute;
					    top:265px; left:155px;}
section #empiricism #bacon {position:absolute;
						        top:255px; left:405px;
						        line-height:31px;}
						        
						        
section #rationalism {position:relative; height:940px;
					border:1px dotted grey;
					overflow:scroll;
					width:92%;
					margin:40px auto 0;}
section .title {background-color:#e5e5e5;
				width:380px; height:70px;
				text-align:center;
				margin-left:10px;
				margin-top:15px;
				border:0px;}		
section .explain {line-height:38px;
				  position:absolute;
				  left:405px; top:10px;
				  width:850px;}		
section #rationalism div:nth-of-type(3) {text-align:center;
									font-size:19px;
									font-weight:580;
									position:absolute;
									top:235px; left:300px;}															
section #rationalism img {position:absolute;
					    top:265px; left:155px;}
section #rationalism #decartes {position:absolute;
						        top:255px; left:405px;
						        line-height:31px;}
						        
					
					
section p {text-align:center;}						        
						        
section #kritik {position:relative; height:915px;
					overflow:scroll;
					width:92%;
					margin:40px auto 0;
					border:1px dotted grey;}
section #kritik .title {background-color:#e5e5e5;
				width:380px; height:100px;
				text-align:center;
				margin-left:10px;
				margin-top:15px;
				border:0px;}		
section .explain {line-height:38px;
				  position:absolute;
				  left:405px; top:10px;
				  width:850px;}		
section #kritik div:nth-of-type(3) {text-align:center;
									font-size:19px;
									font-weight:580;
									position:absolute;
									top:235px; left:300px;}															
section #kritik img {position:absolute;
					    top:265px; left:155px;}
section #kritik #kant {position:absolute;
						        top:255px; left:405px;
						        line-height:31px;}
section #kritik p {position:absolute;
					top:570px; left:405px;}
						        
						        
						        
section #utilitarianism {position:relative; height:1045px;
					overflow:scroll;
					width:92%;
					margin:40px auto 0;
					border:1px dotted grey;}
section .title {background-color:#e5e5e5;
				width:380px; height:70px;
				text-align:center;
				margin-left:10px;
				margin-top:15px;
				border:0px;}		
section .explain {line-height:38px;
				  position:absolute;
				  left:405px; top:10px;
				  width:850px;}		
section #utilitarianism div:nth-of-type(3) {text-align:center;
									font-size:19px;
									font-weight:580;
									position:absolute;
									top:235px; left:300px;}															
section #utilitarianism img {position:absolute;
					    top:265px; left:155px;}
section #utilitarianism #bentham {position:absolute;
						        top:255px; left:405px;
						        line-height:31px;}
section #utilitarianism p {position:absolute;
							top:700px; left:405px;}
